:root {
	--bg-color: #b7b9a8;
	--color-active: #a8a965;
	--color-hover: #5f6035;
	--color-stroke: black;
}

body {
	background-color: var(--bg-color);
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}

svg {
	background-color: var(--bg-color);
	height: 500px;
	width: 100%;
}

.outline {
	border: none;
	outline: none;
	fill: var(--color-active);
	stroke: var(--color-stroke);
	stroke-width: 1;
	/* stroke-linecap:round; */
	/* stroke-linejoin:round; */
	stroke-miterlimit: 5;
	transition: all 0.5s;
}

.outline:hover {
	cursor: pointer;
	border: none;
	outline: none;
	fill: var(--color-hover);
	stroke: var(--color-stroke);
}


/*******************
	Diffritiate map stroke incase of disparances
*******************/
svg#zimbabwe .outline {
	stroke-width: 1.5;
}

svg#harare .outline {
	stroke-width: 1;
}


/*******************
 	SVG Pan Zoom Styling
*******************/
ul.pan-controls {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

/* ul.pan-controls>li> {
	height: 20px;
} */

ul.pan-controls>li {
	display: inline-block;
	font-size: 18px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 36px;
	background-color: #222222;
	color: #fff;
	margin: 0 3px 3px 0;
}

ul.pan-controls>li:hover {
	text-decoration: none;
	background-color: #ee7c22;
}