:root {
	/* SVG Map */
	--bg-color: #b7b9a8;
	--color-active: #a8a965;
	--color-hover: #5f6035;
	--color-stroke: black;

	/* General Colors */
	--color-black: #222222;
	--color-white: #ffffff;

	/* Other Variables */
	--transition: all .5s;
}

body {
	background-color: var(--bg-color);
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}

svg {
	background-color: var(--bg-color);
	height: 500px;
	width: 100%;
}

.outline {
	border: none;
	outline: none;
	fill: var(--color-active);
	stroke: var(--color-stroke);
	stroke-width: 1;
	/* stroke-linecap:round; */
	/* stroke-linejoin:round; */
	stroke-miterlimit: 5;
	transition: all 0.5s;
}

.outline:hover {
	cursor: pointer;
	border: none;
	outline: none;
	fill: var(--color-hover);
	stroke: var(--color-stroke);
}


/*******************
	Diffritiate map stroke incase of disparances
*******************/
svg#zimbabwe .outline {
	stroke-width: 1.5;
}

svg#harare .outline {
	stroke-width: 1;
}


/*******************
 	SVG Pan Zoom Styling
*******************/
ul.pan-controls {
	padding: 0;
	width: 100%;
	text-align: center;
}

ul.pan-controls>li {
	display: inline-block;
	font-size: 22px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--color-hover);
	color: var(--color-white);
	cursor: pointer;
	margin: 0 5px 5px 0;
	transition: var(--transition);
}

ul.pan-controls>li:hover {
	background-color: var(--color-black);
}