:root {
	/* SVG Map */
	--bg-color: #b7b9a8;
	--color-active: #a8a965;
	--color-hover: #5f6035;
	--color-stroke: black;

	/* General Colors */
	--color-black: #222222;
	--color-white: #ffffff;

	/* Other Variables */
	--transition: all .5s;
}

body {
	background-color: var(--bg-color);
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}

.map-container {
	background-color: var(--bg-color);
	border: 2px solid var(--color-hover);
	margin: 20px 0 20px 0;
	position: relative;
}

svg {
	height: 450px;
	width: 100%;
}

.outline {
	border: none;
	outline: none;
	fill: var(--color-active);
	stroke: var(--color-stroke);
	stroke-width: 1;
	/* stroke-linecap:round; */
	/* stroke-linejoin:round; */
	stroke-miterlimit: 5;
	transition: all 0.5s;
}

.outline:hover {
	cursor: pointer;
	border: none;
	outline: none;
	fill: var(--color-hover);
	stroke: var(--color-stroke);
}


/*******************
	Diffritiate map stroke incase of disparances
*******************/
svg#zimbabwe .outline {
	stroke-width: 1.5;
}

svg#harare .outline {
	stroke-width: 1;
}


/*******************
 	SVG Pan Zoom Styling
*******************/
.pan-controls {
	padding: 0;
	position: absolute;
	bottom: 15px;
	left: 18px;
	width: 100%;
}

.pan-controls>span {
	border-radius: 50%;
	background-color: var(--color-hover);
	color: var(--color-white);
	cursor: pointer;
	display: inline-block;
	font-size: 25px;
	line-height: 45px;
	width: 45px;
	height: 45px;
	margin: 0 10px 0 0;
	text-align: center;
	transition: var(--transition);
}

.pan-controls>span:hover {
	background-color: var(--color-black);
}