.breadcrumb {
    padding: 0.5em 1em;
    background-color: var(--color-active);
    border-radius: .25em;
}

.breadcrumb li {
    display: inline-block;
}

// Go back Arrow
.breadcrumb li a:first-of-type:before {
    display: inline-block;
    content: "\25C0";
    margin-right: 8px;
}

// Separator between items
.breadcrumb li::after {
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: var(--color-black);
}

// Hide separator after the last item
.breadcrumb li:last-of-type::after {
    display: none;
}

// Selected step
.breadcrumb li.current>* {
    color: var(--color-hover);
    margin-top: 2px; // Quick Fix of positioning
}

// Steps already visited
.breadcrumb a:hover {
    color: var(--color-hover);
}