.breadcrumb {
    padding: 0.5em 1em;
    background-color: var(--color-active);
    border-radius: .25em;
}

.breadcrumb li {
    display: inline-block;

    // Separator between links
    &::after {
        display: inline-block;
        content: '\00bb';
        margin: 0 .6em;
        color: var(--color-black);
    }

    // Hide separator after the last link
    &:last-of-type::after {
        display: none;
    }

    // Current selected step
    .current>* {
        color: var(--color-hover);
        margin-top: 2px; // Quick Fix of positioning
    }
}

.breadcrumb li a {
    color: var(--color-black);
    text-decoration: none;

    &:hover {
        color: var(--color-hover);
    }

    // Go back Arrow
    &:first-of-type:before {
        display: inline-block;
        content: "\25C0";
        margin-right: 8px;
    }
}